# Python Müll
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtuelle Umgebung (WICHTIG!)
.venv/
venv/
env/

# Daten 
*.h5
*.pth
*.png
*.jpeg
*.csv
src/evaluation/outputs/
figures/

# VS Code Einstellungen
.vscode/

# Betriebssystem Müll
.DS_Storeresults/
.DS_Store
